*{
    background-color: #0c0000;
}
#inicio {
    list-style: none;
    text-decoration: none;
    color: #e0435e;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 2em;
    border: 1px solid #CCC;
    border-radius: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #ece1ee;
}

label {
    display: inline-block;
    width: 90px;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    padding: 8px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #999;
    background-color: #ece1ee;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
    background-color:#ece1ee;
}

button {
    text-align: center;
    background-color: #e0435e;
    margin-left: 18em;
}