*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0c0000;
}

#inicio{
    color: #ece1ee;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 30px auto;
    display: flex;
    max-width: 500px;
    display: inline-block;
    justify-content: center;
    color: #ece1ee;
    
}

#nome,
#email {
    background: #ffffff;
    margin-top: 4px;
    height: 30px;
    border-radius: 10px;
}

#comentario {
    background: #ffffff;
    margin-top: 1px;
    font-size: 16px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid;
    padding: 50px;
}

#enviar {
    background-color: #e0435e;
    color: #ece1ee;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}


#card {
    border-radius: 10px;
    box-shadow: 5px 5px 22px 12px #ffffff;
    padding: 32px 32px 32px 32px;
    margin-top: 10px;
}

@media screen and (min-width: 400px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }

}